<link rel="stylesheet" href="/css/about.css">  
<div class="about-script">
    <p>Introducing the Scouting App, 
    expertly designed by FRC Team 2935! 
    This innovative tool is crafted to aid your 
    robotics scouting experience. Our app offers a seamless interface, 
    enabling teams to collect, organize, and analyze data of matches with
    efficiency and ease. Whether you're strategizing for your next match or taking a 
    look at previous results, the Scouting App is your go-to resource. Best of all,
    it’s available to everyone in the FRC community. Feel free to use it to
    gain a competitive edge and elevate your scouting game to new heights!</p>
</div>