
.admin-container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

.user-delete-btn {
    background-color: #f44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-delete-btn:hover {
    background-color: #e53935;
}

.user-edit-btn {
    background-color: #34a13f;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-edit-btn:hover {
    background-color: #328131;
}

.user-save-btn {
    background-color: #34a13f;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-save-btn:hover {
    background-color: #328131;
}

.add-user-btn {
    background-color: #34a13f;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-user-btn:hover {
    background-color: #328131;
}
