.analysis-select {
    display: flex;
    width: 200px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 5px;
    box-shadow: 0 0px 10px rgb(255, 112, 17);
}

.analysis-title {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.robot-heading {
    display: flex;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    font-family: "Chakra Petch", sans-serif;
    text-transform: capitalize;
    flex-grow: 1; /* Allows the heading to take up available space */
}

.analysis-content {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}


.analysis-image img {
    width: 500px;
    height: 500px; /* Keep the image height fixed */
    border-style: solid;
    margin-left: 20px;
}

.right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spread-sheet {
    height: 70%;
    margin-right: 15px;
    overflow-y: auto; /* Ensures the table doesn't overflow */
    text-transform: capitalize;
    font-family: "Share Tech Mono", monospace;
}

.general-content {
    height: 50%;
    padding-left: 15px;
    padding-top: 10px;
    display: flex;
    border-style: solid;
    justify-content: flex-start;
    font-family: "Share Tech Mono", monospace;
    font-size: larger;
    margin-bottom: 3.5px;
    text-transform: capitalize;
    border-width: 1px;
    margin-right: 15px;
}

.colum-2{
    margin-top: 43px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
td input {
    width: 100%;
    border: none;
    text-align: center;
}
td input:focus {
    outline: none;
    background-color: #f9f9f9;
}

#team-search {
    width: 200px;
    padding: 5px;
    margin-right: 20px;
    margin-top: 5px;
    box-shadow: 0 0px 10px rgb(255, 112, 17);
    border: none;
    border-radius: 5px;
    font-family: "Share Tech Mono", monospace;
}